body {
    background: url("djboard2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-text > a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-inverse {
    background-color: transparent;      /* #391c66 */
    border: none;
}

.jumbotron {
    background-color: #080808;
}

.tagline {
    color: whitesmoke;
}

