body {
    background-image: url("images/brandon.jpg");
    padding-top: 70px;
}


.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-text > a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-inverse {
    background-color: #564179;
}

.jumbotron {
    background-color: #080808;
}

.tagline {
    color: whitesmoke;
}
